@import '~bootstrap/scss/bootstrap';

// Handwriting font style
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  background-image: url('../../public/background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  color: aliceblue;
  height: 100vh
}

.button {
  background-color: rgba(0,0,0, 0.6);
  color: aliceblue;
  border: aliceblue 1px solid;
  border-radius: 30px;
}

#welcome-frame {
  text-align: center;
  height: 100vh;
  div:first-of-type {
    height: 34vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  div:last-of-type {
    height: 66vh;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    button {
      margin: 0 30px;
      flex: 1 1 50px;
    }
  }
  h3 {
    font-family: 'Permanent Marker', cursive;
  }
}

#sign-up-frame,
#sign-in-frame {
  text-align: center;
  height: 100vh;
  > div:first-of-type {
    height: 34vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  form {
    height: 66vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    div:first-of-type {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      input {
        width: 52%;
        margin: 5px;
        background-color: rgba(240,248,255, 0.8);
        border-radius: 5px;
        padding: 0 5px;
      }
    }
    div:last-of-type {
      margin: 5px auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
      width: 52%;
      > * {
        width: 28%;
        min-width: 80px;
      }
    }
  }
  h3 {
    font-family: 'Permanent Marker', cursive;
  }
}

// Navbar
.navbar-brand:hover {
  cursor: default;
}

// Home frame
#home-frame {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  div button {
    font-size: 1.25rem;
  }
}

// Modal styling
.modal-content {
  background-color: rgba(0,0,0,0.8);
}

// Chart styling
#graph-frame div {
  margin: 10px 0 0 0;
  select {
    background-color: transparent;
    color: aliceblue;
    margin-left: 15px;
  }
}

#exercise-volume-chart {
  width: 350px;
  height: 350px;
}

// Media queries
@media (max-height: 500px) {
  html {
    font-size: 12px;
  }
}
